.logo-wrapper {
    left: 0;
    display: block;
    position: absolute;
    text-align: center;
    height: $headerHeight;
    line-height: $headerHeight;
    min-width: 60px;
    padding: 0 $minPadding;
    background-color: inherit;

    .logo {
        text-decoration: none;
    }
}